<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript">
        function setCookie(c_name,value,exdays)
        {
            var exdate=new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) +
            ((exdays==null) ? "" : ("; expires="+exdate.toUTCString()));
            document.cookie=c_name + "=" + c_value +"; path=/";
        }
        function load() 
        {
            setCookie('user', '{{ user }}', 5);
            window.location.replace('/');
        }
        window.onload = load();
        </script>
    </head>
    </body>
</html>